:root {
  --spieler-farbe: #00ffca;
  --gegner-farbe: #088395;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #252525;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

header {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

header img {
  width: 32px;
}

h1 {
  color: white;
  text-align: center;
  margin: 0;
}

h2 {
  color: white;
  text-align: center;
  font-weight: normal;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

footer {
  color: white;
  align-self: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 0 16px 16px 16px;
  gap: 16px;
}

main p {
  color: white;
  text-align: center;
}

main a {
  color: black;
  border-radius: 8px;
  background-color: #00ffca;
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
  padding: 4px 8px;
  width: fit-content;
  align-self: center;
  font-size: medium;
}

ul {
  color: white;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.menu {
  background-color: #252525;
  position: fixed;
  padding-top: 35px;
  z-index: 3;
  width: 300px;
  height: 90vh;
  transform: translateX(1000%);
  box-shadow: 1px 1px 6px #222;
  transition: all 250ms ease-in-out;
  right: 0;
  border: 3px solid #088395;
}

.menuItem {
  color: white;
  margin: 16px;
  font-size: 25px;
  border-bottom: 2px solid #088395;
}

.menuItem a {
  text-decoration: none;
  color: white;
}

.menuOpen {
  transform: translateX(0%) !important;
}

.menuItem:hover {
  color: white;
  cursor: pointer;
}

.hamburger {
  position: fixed;
  width: 32px;
  height: 32px;
  background-color: #00ffca;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px 0px 0px 5px;
  z-index: 4;
  right: 0;
  cursor: pointer;
}

.slice {
  width: 22px;
  height: 3px;
  margin: 2.5px 0;
  background-color: black;
  border-radius: 5px;
  transform-origin: left;
  transition: all 250ms ease-in-out;
}

.cross .slice:nth-of-type(1) {
  transform: rotate(45deg);
}

.cross .slice:nth-of-type(2) {
  opacity: 0;
}

.cross .slice:nth-of-type(3) {
  transform: rotate(-45deg);
}

.spielanzeige {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.hero {
  display: flex;
  width: 90vw;
  justify-content: space-between;
}

.hero p {
  color: #00ffca;
}

.header-left {
  display: flex;
  flex-direction: row;
}

/* Lobby */

@media (min-width: 768px) {
  .hero {
    width: 25vw;
  }
}
