table {
  border-collapse: collapse;
  color: white;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
}

th:nth-child(2),
td:nth-child(2) {
  text-align: right;
}

tr:first-child {
  border-bottom: 2px solid #088395;
}

td:first-child {
  border-right: 2px solid #088395;
  word-wrap: anywhere;
  width: calc(100% / 3);
}

td:last-child {
  width: calc(100% / 3);
}

.highlight-spieler {
  color: #00ffca;
  font-weight: bolder;
}

@media (min-width: 768px) {
  table {
    width: 50%;
  }
}
