@keyframes o-zoomOutAnimation {
  from {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes x-zoomOutAnimation {
  from {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}

.spielanzeige {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  height: 15vh;
}

.hero {
  display: flex;
  width: 90vw;
  justify-content: space-between;
}

.hero p {
  color: #00ffca;
}

.spielfeld {
  display: flex;
  flex-direction: column;
  width: 95vw;
  height: 95vw;
}

.reihe-großes-spielfeld {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  border: 2px solid transparent;
  height: calc(100% / 3);
}

.reihe-großes-spielfeld:not(:last-child) {
  border-bottom-color: #00ffccb9;
}

.kleines-spielfeld {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  padding: 4px;
  border: 2px solid transparent;
  border-right-color: #00ffccb9;
  position: relative;
}

.kleines-spielfeld:last-child {
  border-right-color: transparent;
}

.kleines-spielfeld-reihe {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: calc(100% / 3);
  border: 2px solid transparent;
}

.kleines-spielfeld-reihe:not(:last-child) {
  border-bottom-color: #088395;
}

.feld {
  border: 2px solid transparent;
  border-right-color: #05bfdb;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: white;
  width: calc(100% / 9);
  position: relative;
}

.feld:last-child {
  border-right-color: transparent;
}

.feld::before,
.feld::after {
  content: '';
  box-sizing: border-box;
}

.naechstes-feld {
  outline: thin solid coral;
  cursor: pointer;
}

.x-gewinnt {
  color: rgba(0, 255, 202, 0.5);
  position: absolute;
  z-index: 1;
  font-size: 8em;
  display: flex;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  justify-content: center;
  align-items: center;
}

.x-gewinnt svg {
  width: 100%;
  height: 100%;
}

.o-gewinnt {
  color: rgba(8, 131, 149, 0.8);
  position: absolute;
  z-index: 1;
  font-size: 8em;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.o-gewinnt svg {
  width: 100%;
  height: 100%;
}

.unentschieden-gespielt {
  color: rgba(128, 128, 128, 0.5);
  position: absolute;
  z-index: 1;
  font-size: 8em;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.unentschieden-gespielt svg {
  width: 100%;
  height: 100%;
}

.x-symbol {
  color: #00ffca;
}

.x-symbol.zoom-out {
  animation-name: x-zoomOutAnimation;
  animation-duration: 1s;
}

.o-symbol {
  color: #09deff;
}

.o-symbol.zoom-out {
  animation-name: o-zoomOutAnimation;
  animation-duration: 1s;
}

.o-gewonnen .x-symbol,
.o-gewonnen .o-symbol {
  color: gray;
}

.x-gewonnen .x-symbol,
.x-gewonnen .o-symbol {
  color: gray;
}

.unentschieden .x-symbol,
.unentschieden .o-symbol {
  color: gray;
}

.overlay {
  background-color: #252525;
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  opacity: 0;
  z-index: 5;
  pointer-events: none;
  padding: 16px;
}

.overlay-text {
  font-size: clamp(2rem, 5vh, 4rem);
  font-size: 900;
  text-align: center;
}

.overlay-button {
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #00ffca;
  border: 2px solid black;
  border-radius: 8px;
  color: black;
  cursor: pointer;
  padding: 4px 8px;
  width: fit-content;
  align-self: center;
}

.overlay-button .btn-weiterspielen {
  font-weight: 700;
}

.overlay-button:hover {
  background-color: #00ffccdc;
}

.overlay.sichtbar {
  opacity: 1;
  pointer-events: all;
  transition: opacity 1.5s;
}

@media (min-width: 480px) {
  .spielfeld {
    width: 60vh;
    height: 60vh;
  }
}

@media (min-width: 768px) {
  .spielanzeige {
    width: 100%;
  }
  .hero {
    max-width: 40vw;
  }

  .x-symbol {
    font-size: x-large;
  }

  .o-symbol {
    font-size: x-large;
  }

  .overlay-text {
    font-size: clamp(2rem, 10vh, 4rem);
  }

  .overlay-button {
    font-size: 2rem;
  }
}
