.anleitung {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.anleitung h2 {
  text-align: left;
}

.anleitung p {
  text-align: left;
  font-weight: 600;
}

.stichpunkte {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style-position: inside;
}

@media (min-width: 768px) {
  .anleitung {
    width: 50%;
  }
}
